{{ 'section-collage-with-text.css' | asset_url | stylesheet_tag }}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .section-{{ section.id }}-margin {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
    .section-{{ section.id }}-margin {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}
{% assign image_blocks = section.blocks | where: 'type', 'image' %}
<div class="collage-with-text isolate color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-margin">
  <div class="section__wrapper collage-with-text__wrapper image-width--{{ section.settings.image_width }}{% unless section.settings.image_first %} image-with-text--reverse{% endunless %} page-width section-{{ section.id }}-padding">
    <div
      class="media-item images--{{ image_blocks.size | at_most: 5 }} image-angle--{{ section.settings.angle_style }}{% if section.settings.show_image_frame %} show-image-frame{% endif %}"
    >
      {%- for block in image_blocks -%}
        <div
          class="image-frame hover-trigger{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index0 }};"
          {% endif %}
          {{ block.shopify_attributes }}
        >
          <div
            class="media media--{{ block.settings.image_ratio }} animate--scale-up"
            {% if block.settings.image_ratio == 'adapt' and block.settings.image != blank %}
              {% assign ratio_percent = block.settings.image.aspect_ratio %}
              style="--ratio-percent: {{ 1 | divided_by: ratio_percent | times: 100 | round }}%;"
            {% endif %}
          >
            {% render 'lazy-image',
              has_mobile: block.settings.image_mobile,
              image_object: block.settings.image,
              sizes: '(min-width: 750px) 50vw, 100vw',
              placeholder: 'image'
            %}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div
      class="text-item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    >
      <div
        class="text-content content-width--narrow content--center text-align--{{ section.settings.content_alignment }} text-align-mobile--{{ section.settings.content_alignment_mobile }}"
      >
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2
                class="text-content-heading heading-size--{{ block.settings.heading_size }}{% if block.settings.heading_decorative %} font-decorative{% endif %}"
                {{ block.shopify_attributes }}
              >
                {{- block.settings.heading | escape -}}
              </h2>
            {%- when 'caption' -%}
              <div class="text-content-caption caption" {{ block.shopify_attributes }}>
                {{ block.settings.caption | escape }}
              </div>
            {%- when 'text' -%}
              <div class="text-content-description" {{ block.shopify_attributes }}>
                {% assign description_id = 'Expandable-Container-'
                  | append: section.id
                  | append: '-'
                  | append: block.id
                %}
                {% render 'limit-height-description',
                  id: description_id,
                  content: block.settings.description,
                  if_limit_height: block.settings.limit_description_height
                %}
              </div>
            {%- when 'button' -%}
              <div class="text-content-buttons" {{ block.shopify_attributes }}>
                {%- render 'group-buttons',
                  button_label: block.settings.button_label,
                  button_label_uppercase: block.settings.button_label_uppercase,
                  button_link: block.settings.button_link,
                  button_style: block.settings.button_style,
                  button_arrow: block.settings.button_arrow,
                  secondary_button_label: block.settings.secondary_button_label,
                  secondary_button_label_uppercase: block.settings.secondary_button_label_uppercase,
                  secondary_button_link: block.settings.secondary_button_link,
                  secondary_button_style: block.settings.secondary_button_style,
                  secondary_button_arrow: block.settings.secondary_button_arrow
                -%}
              </div>
            {%- when 'social_list' -%}
              <div class="text-content-socials" {{ block.shopify_attributes }}>
                {% render 'social-icons', style: block.settings.style %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.collage-with-text.name",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer", "custom.drawer", "custom.popup"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.image.header_content"
    },
    {
      "type": "select",
      "id": "image_width",
      "label": "t:sections.all.image.image_width.label",
      "info": "t:sections.all.desktop.effect.info",
      "options": [
        {
          "value": "small",
          "label": "t:sections.all.image.image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.all.image.image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.all.image.image_width.options__3.label"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "image_first",
      "label": "t:sections.image-with-text.settings.image_first.label",
      "info": "t:sections.all.desktop.effect.info",
      "default": true
    },
    {
      "type": "select",
      "id": "angle_style",
      "label": "t:sections.collage-with-text.setting.angle_style.label",
      "options": [
        {
          "value": "clean",
          "label": "t:sections.collage-with-text.setting.angle_style.options_1.label"
        },
        {
          "value": "scattered",
          "label": "t:sections.collage-with-text.setting.angle_style.options_2.label"
        },
        {
          "value": "tilt-left",
          "label": "t:sections.collage-with-text.setting.angle_style.options_3.label"
        },
        {
          "value": "tilt-right",
          "label": "t:sections.collage-with-text.setting.angle_style.options_4.label"
        }
      ],
      "default": "scattered"
    },
    {
      "type": "checkbox",
      "id": "show_image_frame",
      "label": "t:sections.collage-with-text.setting.show_image_frame.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.all.content.header_content"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment",
      "label": "t:sections.all.text-alignment.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile.header_content"
    },
    {
      "type": "text_alignment",
      "id": "content_alignment_mobile",
      "label": "t:sections.all.text-alignment.label",
      "default": "center"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header_content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.header_content"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top.label",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom.label",
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.collage-with-text.blocks.image.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.all.image.image_picker.label"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "label": "t:sections.all.image.image_ratio.label",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.all.image.image_height.options__4.label"
            },
            {
              "value": "square",
              "label": "t:sections.all.image.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.all.image.image_ratio.options__2.label"
            },
            {
              "value": "landscape",
              "label": "t:sections.all.image.image_ratio.options__3.label"
            }
          ],
          "default": "square"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image with text",
          "label": "t:sections.all.text-content.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.all.text-content.heading.size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.all.text-content.heading.size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.all.text-content.heading.size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.all.text-content.heading.size.label"
        },
        {
          "type": "checkbox",
          "id": "heading_decorative",
          "label": "t:sections.all.text-content.heading.decorative.label",
          "default": false
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "Add a caption",
          "label": "t:sections.all.text-content.caption.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post<\/p>",
          "label": "t:sections.all.text-content.description.label"
        },
        {
          "type": "checkbox",
          "id": "limit_description_height",
          "label": "t:sections.all.text-content.limit_description_height.label",
          "default": false
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.all.button.header_primary_content"
        },
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.all.button.button_label.label",
          "info": "t:sections.all.button.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "default": "primary",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "label": "t:sections.all.button.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.button.button_style.options__2.label",
              "value": "secondary"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "button_arrow",
          "label": "t:sections.all.button.button_arrow.label",
          "default": false
        },
        {
          "type": "header",
          "content": "t:sections.all.button.header_secondary_content"
        },
        {
          "type": "text",
          "id": "secondary_button_label",
          "default": "Button label",
          "label": "t:sections.all.button.button_label.label",
          "info": "t:sections.all.button.button_label.info"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "t:sections.all.button.button_link.label"
        },
        {
          "type": "select",
          "id": "secondary_button_style",
          "default": "secondary",
          "label": "t:sections.all.button.button_style.label",
          "options": [
            {
              "label": "t:sections.all.button.button_style.options__1.label",
              "value": "primary"
            },
            {
              "label": "t:sections.all.button.button_style.options__2.label",
              "value": "secondary"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "secondary_button_arrow",
          "label": "t:sections.all.button.button_arrow.label",
          "default": false
        }
      ]
    },
    {
      "type": "social_list",
      "name": "t:sections.image-with-text.blocks.social_list.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "style",
          "label": "t:sections.all.social-list.social_style.label",
          "options": [
            {
              "value": "icon",
              "label": "t:sections.all.social-list.social_style.options__1.label"
            },
            {
              "value": "border",
              "label": "t:sections.all.social-list.social_style.options__2.label"
            },
            {
              "value": "wrapper",
              "label": "t:sections.all.social-list.social_style.options__3.label"
            }
          ],
          "default": "wrapper"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collage-with-text.presets.name",
      "category": "t:sections.all.category.media-layout",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "image_ratio": "square"
          }
        },
        {
          "type": "image",
          "settings": {
            "image_ratio": "portrait"
          }
        },
        {
          "type": "image",
          "settings": {
            "image_ratio": "landscape"
          }
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
